*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
  scroll-behavior: auto;
scroll-behavior: smooth;
  
}

:root {
    --primary-color: #00283a;
    --secondary-color: #ffc107;
    --light-white-color: #dedee0;
}

/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

body {
	font-family: 'Inter', sans-serif;
  background-color: #00151f;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
}

a, a:hover{
  
   -ms-transition: .3s;
   -moz-transition: .3s;
   -webkit-transition: .3s;
     transition: .3s;
   }

  .mb40{
    margin-bottom: 40px;
  }


/* ================================================== */
/*  header	*/ 
/* ================================================== */

header{
  position: relative;
  
}

.main-header{
  position: absolute;
  width: 98%;
  margin: auto;
  left: 0;
    right: 0;
  background-color: #00283a;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
}

.header-nav ul li{
  margin-right: 25px;
  line-height: 5;
}

.header-nav ul li a{
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
}

.active{
  border-bottom: 3px solid #ffc107;
}

.header-logo img{
 width: 250px;
}

.fa-solid{
  display: inline;
}

.btn-solid{
  background-color: var(--secondary-color);
    border-radius: 25px;
    color: #000;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 12px 25px;
    letter-spacing: 2px;
}

/* translateY(-410px) */


/* ================================================== */
/* Banner Section */
/* ================================================== */

#section-banner{
  margin-top: 20px;
  position: relative;
  z-index: -1;
}

#section-banner .main-banner{
  background-image: url(../img/ban1.jpg), linear-gradient(rgb(0 0 0 / 30%),rgb(0 0 0 / 30%));
  background-blend-mode: overlay;
  width: 90%;
  height: 560px;
  margin: auto;
  background-size: cover;
  border-radius: 20px;
  
  
}

.banner-inner{
  justify-content: center;
    align-items: center;
    height: 100%;
}

.sub-headding{
  text-transform: uppercase;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 2px;
    color: #fff;
}

.title{
  font-weight: 800;
    font-size: 56px;
    color: #fff;
    margin-bottom: 30px;
}

.contact-btn .trans-btn{
  background-color: transparent;
    border-radius: 25px;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 12px 34px;
    letter-spacing: 2px;
    border: 1px solid #fff;
    
}

.scroll-text{
  transform: rotate(90deg);
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}

.scroll-down{
  position: absolute;
    right: 70px;
}

.mouse {

  top: -110px;
    right: 38px;
	width: 30px;
	height: 50px;
	border: 3px solid #fff;
	border-radius: 60px;
	position: absolute;
  
	&::before {
		content: '';
		width: 8px;
		height: 8px;
		position: absolute;
		top: 10px;
		left: 50%;
		transform: translateX(-50%);
		background-color: #fff;
		border-radius: 50%;
		opacity: 1;
		animation: wheel 2s infinite;
		-webkit-animation: wheel 2s infinite;
	}
}

@keyframes wheel {
	to {
		opacity: 0;
		top: 60px;
	}
}

@-webkit-keyframes wheel {
	to {
		opacity: 0;
		top: 60px;
	}
}

/* ================================================== */
/* Profile Section */
/* ================================================== */

.lprofile{
  text-align: center;
  background-color: rgb(0, 40, 58);
    border-radius: 10px;
    color: #fff;
    padding: 30px 30px;
    box-shadow: 0 2px 4px -2px rgba(0, 0, 0, .6);
    background-color: #00283a;
}

.avatar{
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
}

.avatar img{
  width: 100px;
    border-radius: 50%;
}

.avatar .tm-dot{
width: 18px;
height: 18px;
background-color: var(--secondary-color);
border-radius: 50%;
border: 3px solid var(--primary-color);
position: absolute;
    bottom: 5px;
    right: 5px;
}

.wrapper{
  display: flex;
}


.wrapper .dynamic-txts{
  margin: 0;
  padding: 0;
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}


.divider{
  height: 1px;
    width: 100%;
    border-bottom: 2px dotted rgba(225, 225, 235, 0.15);
    margin-top: 30px;
    margin-bottom: 30px;
}

.profile-designation{
  font-size: 12px;
    color: #919ca1;
    font-weight: 800;
}

.social-media a i {
  color: var(--light-white-color);
  margin-right: 10px;
  font-size: 18px;
}

.info ul{
  margin: 0;
  padding: 0;
}

.info ul li{
  margin-bottom: 10px;
}

.info .info-title,.info-answer {
  text-transform: uppercase;
  color: #dedee0;
  font-size: 13px;
    font-weight: 700;
}

.info-answer{
  color: #919ca1;
}


.btn-solid i{
  margin-left: 10px;
}


/* ================================================== */
/* Profile Section right side */
/* ================================================== */

.infobox{
  text-align: center;
    padding: 40px;
    box-shadow: 0 2px 4px -2px rgba(0, 0, 0, .6);
    background-color: #00283a;
    margin-bottom: 40px;
    border-radius: 10px;
}

.numb{
  color: #fff;
    font-size: 24px;
    font-weight: 700;
}

.plus{
  color: var(--secondary-color);
  font-size: 24px;
    margin-left: 5px;
}

.info-box-title{
  color: var(--light-white-color);
  text-transform: uppercase;
    font-size: 12px;
    margin: 0;
    font-weight: 800;
}

.mr15{
  margin-top: 15px;
    margin-bottom: 15px;
}

/* ================================================== */
/*  My Story	*/ 
/* ================================================== */

.heading-sec .sec-title{
  font-size: 24px;
    color: #fff;
    font-weight: 700;
}

.heading-sec .sm-div{
  width: 70%;
    height: 2px;
    border: 1px dotted #505052;
}

.heading-sec .secno{
  color: var(--light-white-color);
  font-size: 14px;
}

.about-box{
    padding: 40px;
    box-shadow: 0 2px 4px -2px rgba(0, 0, 0, .6);
    background-color: #00283a;
    margin-bottom: 40px;
    border-radius: 10px;
    position: relative;
}

.about-box p{
  color: #fff;
  text-align: justify;
    font-weight: 600;
    margin: 0;
}

.about-box p::after{
  margin: 0;
    width: 50px;
    color: #ffc107;
    line-height: 55px;
    content: '"';
    position: absolute;
    bottom: -20px;
    right: 2px;
    font-size: 54px;
    font-weight: 100;
}


/* ================================================== */
/*  My Services	*/ 
/* ================================================== */

 .sbox{
  padding: 40px;
    box-shadow: 0 2px 4px -2px rgba(0, 0, 0, .6);
    background-color: #00283a;
    margin-bottom: 40px;
    border-radius: 10px;
} 

.sbox img{
  width: 50px;
    opacity: 0.4;
    margin-bottom: 20px;
}

.sbox .service-title{
  color: #fff;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 20px;
}

.sbox .service-para{
 color: var(--light-white-color);
}

.sbox .read-more{
  color: var(--secondary-color);
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
}

.sbox .read-more i{
  font-size: 14px;
}

/* ================================================== */
/*  Testimonials	*/ 
/* ================================================== */

.testimoni-body{
  text-align: center;
}

.testimoni-body img{
  margin: auto;
}

.testimoni-inner{
  padding: 40px;
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, .6);
  background-color: #00283a;
 
  border-radius: 10px;
}

.testimoni-img{
  width: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.testimoni-title{
  color: #fff;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 20px;
}

.test-designation{
  color: var(--secondary-color);
  font-size: 14px;
}

.testimoni-para{
  color: var(--light-white-color);
}

.slick-prev {
  left: 30px!important;
  z-index: 1;
}

.slick-next {
  right: 30px!important;
}

.slick-prev:before, .slick-next:before{
  color: var(--secondary-color)!important;
}

/* ================================================== */
/*  Footer	*/ 
/* ================================================== */

.footer-copyright{
  padding: 30px 40px;
    box-shadow: 0 2px 4px -2px rgba(0, 0, 0, .6);
    background-color: #00283a;
    border-radius: 10px;
    margin-bottom: 40px;
}

.copyright-text p{
  color: #919ca1;
  font-size: 12px;
    font-weight: 600;
    margin: 0;
}

.emailid p{
  margin: 0;
  color: #919ca1;
  text-transform: uppercase;
  font-size: 12px;
}

.emailid p a{
  color: var(--secondary-color);
  letter-spacing: 02px;
}


/* ================================================== */
/* R E S P O N S I V E */
/* ================================================== */

@media only screen and (min-width: 768px) {
  .hided{
    display: none!important;
  }

  #section-profile{
    margin-top: -60px;
  }
  
  .lprofile{
    position: sticky;
    top: 0;
    margin-top: -370px;
  }

  .main-banner .inner-text{
    margin-left: 35px;
  }
    
  
}


@media only screen and (max-width: 768px) {

	.hidem{
    display: none!important;
  }
  
  .mob-header{
    background-color: #00283a;
    width: 98%;
    background-color: #00283a;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
    padding: 20px;
  }

  .navicon{
    color: #fff;
    font-size: 30px;
  }

  #section-banner .main-banner{
    border-radius: 10px;
    height: 420px;
  }

 

  .inner-text{
    text-align: center;
  }

  .title{
    font-size: 40px;

  }

  .scroll-down{
    display: none;
  }

  .lprofile,.info-boxes{
    margin-top: 30px;
  }

  .heading-sec .sm-div {
    width: 50%;
  }

  .slick-prev {
    left: 20px!important;
    z-index: 1;
  }
  
  .slick-next {
    right: 20px!important;
  }

  .copyright-text p{
    margin-bottom: 10px;
  }
 
}